@charset "UTF-8";
/* 共通部分
---------------------------------------*/
html,*{
    font-size: 100%;
    font-family: sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    margin:0px;
    padding:0px;
    background-color: #fff;
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
}


/* 共通部分 終わり
---------------------------------------*/

/* ヘッダー
---------------------------------------*/

#header {
    background-image: url(./img/sample_back.jpg);
    min-height: 797px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.header-nav {
    width: 800px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
    margin-top: 20px;
    list-style: none;
    color: #fff;
    
}
.nav-list a {
    font-family: 'RocknRoll One', sans-serif;
}
.nav-list li {
    padding: 0 20px;
}
.nav-item a:hover {
    color: #D1AD4B;
}
.nav-item a:visited {
    color: #fff;
}
.nav-item a:link {
    color: #fff;
}
.main_logo {
    margin: auto;
}


.logo {
    width: 674px;
    margin: auto;
}
/* ヘッダー 終わり
---------------------------------------*/

/* ABOUT
---------------------------------------*/
#about {
    background-image: url(./img/sample_back-1.fw.png);
    display: flex;
    flex-direction: column;
}
.title_box {
    width: 800px;
    margin: 50px auto;
    display: flex;

}
.title_img {
    margin: 0 auto;
}
.about_container {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.about_text{
    width: 450px;
    font-size: 1rem;
    margin: 0 auto;
}
.about_text p {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 5px;
}
.about_img {
    width: 350px;
    margin-right: 0;
}
.about_img img {
    width: 335px;
}

/* ABOUT ここまで
---------------------------------------*/

/* AP2E
---------------------------------------*/
#ap {
    display: flex;
    flex-direction: column;
    
}
.ap_container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.ap_description {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 50px;
}
.ap_description p {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}
.ap_heading {
    margin-bottom: 10px;
}
.ap_text {
    margin-bottom: 50px;
}
.ap_text p {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}
/* AP2E ここまで
---------------------------------------*/

/* NFTマーケット
---------------------------------------*/
#nft {
    display: flex;
    flex-direction: column;
    background-image: url(./img/sample_back-2.png);
}
.nft_container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.nft_img {
    background-color: black;
    height: 500px;
}
.nft_text {
    margin-top: 50px;
}
.nft_text p {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}
/* NFTマーケットここまで
---------------------------------------*/

/* 人物NFT紹介
---------------------------------------*/
#human {
    display: flex;
    flex-direction: column;
    background-image: url(./img/sample_back-1.fw.png);
}
.human_container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.human_description p {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}
.human_box {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.human_heading {
    display: flex;
    margin: 50px auto;
}
.human_content {
    display: flex;
    flex-direction: row;
}
.card_img {
    width: 400px;
    margin: 0 auto;
}
.card_img img {
    width: 360px;
    box-shadow: 4px 4px 4px gray;
}
.card_text {
    width: 400px;
    margin: 0 auto;
    font-size: 1rem;
}
.card_contents {
    width: 360px;
    background-color: #fff;
    box-shadow: 4px 4px 4px gray;
    list-style: none;
    padding: 20px;
    
}
.card_contents li {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 1.2rem;
}
/* 人物NFT紹介　ここまで
---------------------------------------*/

/* TOKENOMIC
---------------------------------------*/
#tokenomic {
    display: flex;
    flex-direction: column;
    background-image: url(./img/sample_back-3.png);
}
.tokenomic_container {
    color: #871900;
    font-size: 1.8rem;
}
.tokenomic_box {
    text-align: center;
    list-style: none;
}
.tokenomic_box li {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 500;
    margin-bottom: 50px;
}
/* TOKENOMIC ここまで
---------------------------------------*/

/* FOOTER
---------------------------------------*/
#footerarea {
    display: flex;
    flex-direction: column;
}
.footer_container {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
}
.footer_contents {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    width: 400px;
}
.footer_contents h3 {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}
.footer_contents li {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 1rem;
}
.copyright {
    font-size: 0.5rem;
    text-align: center;
    margin-bottom: 50px;
}
.copy {
    text-align: center;
}

/*========= ページトップのためのCSS ===============*/
/*リンクの形状*/

#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#942D2F;
	border-radius: 5px;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
	transition:all 0.3s;
}

#page-top a:hover{
	background: #777;
}

/*リンクを右下に固定*/
#page-top {
    position: fixed;
    right: 10px;
    z-index: 2;
      /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
  }
  
  /*　上に上がる動き　*/
  
  #page-top.UpMove{
    animation: UpAnime 0.5s forwards;
  }
  @keyframes UpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
  
  /*　下に下がる動き　*/
  
  #page-top.DownMove{
    animation: DownAnime 0.5s forwards;
  }
  @keyframes DownAnime{
    from {
      opacity: 1;
    transform: translateY(0);
    }
    to {
      opacity: 1;
    transform: translateY(100px);
    }
  }
/* FOOTER ここまで
---------------------------------------*/

/*PCここまで*/

/*ここからスマホ*/

@media screen and (max-width:750px) {

	/*　画面サイズが750px以下の場合ここの記述が適用される　*/

        /* ヘッダー
    ---------------------------------------*/

    #header {
        background-image: url(./img/sample_back.jpg);
        min-height: 896px;
    }
    .nav-list {
        display: none;
    }
    
    .main_logo {
        margin: auto;
    }
    .logo {
        width: 300px;
        margin: auto;
    }
    /* ヘッダー 終わり
    ---------------------------------------*/

    /* ABOUT
    ---------------------------------------*/
    
    .title_box {
        width: 100%;
        height: 30px;
        margin: 50px auto;
    }
    .title_img img {
        height: 50px;
    }
    .about_container {
        flex-direction: column;
        width: 80vw;
        margin-bottom: 50px;
    }
    .about_text{
        width: 80vw;
    }
    .about_text p {
        font-family: 'M PLUS 1 Code', sans-serif;
        font-weight: 500;
        font-size: 0.8rem;
        margin-top: 0;
    }
    .about_img {
        width: 80vw;
        margin: auto;
    }
    .about_img img {
        width: 80vw;
    }

    /* ABOUT ここまで
    ---------------------------------------*/

    /* AP2E
    ---------------------------------------*/
    
    .ap_container {
        width: 80vw;
    }
    .ap_description {
        margin-bottom: 30px;
    }
    .ap_description p {
        font-size: 1rem;
    }
    .ap_heading img {
        height: 40px;
    }
    .ap_text {
        margin-bottom: 50px;
    }
    .ap_text p {
        font-size: 0.8rem;
    }
    /* AP2E ここまで
    ---------------------------------------*/

    /* NFTマーケット
    ---------------------------------------*/
    .nft_container {
        width: 80vw;
    }
    .nft_img {
        height: 300px;
    }
    .nft_text {
        margin-top: 30px;
    }
    .nft_text p {
        font-size: 1rem;
    }
    /* NFTマーケットここまで
    ---------------------------------------*/

    /* 人物NFT紹介
    ---------------------------------------*/
    .human_container {
        width: 80vw;
    }
    .human_description {
        margin-bottom: 0px;
    }
    .human_description p {
        font-size: 1rem;
    }
    .human_box {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .human_heading {
        height: 40px;
    }
    .human_content {
        display: flex;
        flex-direction: column;
    }
    .card_img {
        width: 80vw;
        margin-bottom: 10px;
    }
    .card_img img {
        width: 80vw;
    }
    .card_text {
        width: 80vw;
    }
    .card_contents {
        width: 80vw;
    }
    .card_contents li {
        font-size: 1rem;
    }
    /* 人物NFT紹介　ここまで
    ---------------------------------------*/

    /* TOKENOMIC
    ---------------------------------------*/
    .tokenomic_container {
        font-size: 1.8rem;
    }

    /* TOKENOMIC ここまで
    ---------------------------------------*/

    /* FOOTER
    ---------------------------------------*/
    .footer_container {
        flex-direction: column;
    }
    .footer_contents {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        width: 80vw;
        margin: 0 auto;
    }
    .footer_contents h3 {
        font-size: 0.8rem;
    }
    .footer_contents li {
        font-size: 0.5rem;
    }

    /* FOOTER ここまで
    ---------------------------------------*/
}
